body {
    font-family: Verdana, sans-serif, fantasy;
    color: black;
    font-size: 20px
        background-image: url(background.lnk);
        background-size: cover;
    width: 50%
        margin:auto;
        
}
img{
    width: 50%;
    border:8px dotted red;
    border-radius: 15%
        margin
    

}

h1{
    border-bottom:5px solid red;
    text-align:center;
    background-color:#dc2f4c;
        margin:auto;

}

.paragraf1 {
    text-align: center;
    margin: auto;
    
    
}

#kirmizi {
    color: red
}